/* Change name to stylesheet.css */
.bg {
    background-image: url('bgimage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 100%;
}

/* Menu (navbar) settings */
.navbar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.navbar-brand > img{
    padding-right:20px;
}

