div.corners1 {
  margin: auto;
  text-align: center;
  top: 50%;
  border-radius: 25px;
  background:powderblue;
  padding: 30px; 
  width: 400px;
  height: 550px;  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
font-size: 120%;
background: #F8F8FF;
}

form, .content {
padding: 20px;
border-radius: 0px 0px 10px 10px;
}
.input-group {
margin: 10px 0px 10px 0px;
}
.input-group label {
display: block;
text-align: left;
margin: 3px;
}
.input-group input {
height: 30px;
width: 93%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid gray;
}
.radiobutton {
width: 100px; 
margin: 0 auto;
  text-align:left;
  font-size:18px
}
.btn {
padding: 10px;
font-size: 15px;
color: black;
background:white;
border: none;
border-radius: 5px;
}
.error {
width: 92%; 
margin: 0px auto; 
padding: 10px; 
border: 1px solid #a94442; 
color: #a94442; 
background: #f2dede; 
border-radius: 5px; 
text-align: left;
}
.success {
color: #3c763d; 
background: #dff0d8; 
border: 1px solid #3c763d;
margin-bottom: 20px;
}